// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

* {
    font-family: "GDS Transport", arial, sans-serif;
}

a:visited {
    color: #1d70b8;
}

.govuk-header {
    border-bottom: 10px solid #1d70b8;
    .govuk-header__logo {
        width: 16%;
    }
    .govuk-header__content {
        width: 84%;
        padding-left: 0;
        .govuk-header__link--service-name {
            font-weight: normal;
        }
    }
}

.govuk-width-container, .app-width-container {
    max-width: 1100px;
}

.js-enabled .govuk-tabs__list, .js-enabled .govuk-tabs__list-item--selected, .js-enabled .govuk-tabs__panel {
    border: transparent;
}

//navigation
.app-navigation {
    border-bottom: 1px solid #b1b4b6;
    background-color: #f8f8f8;
    ul {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
        li {
        display: inline-block;
        padding: 0 15px;
            &:first-of-type {
                margin-left: -15px;
            }
            &.active {
                border-bottom: 4px solid #1d70b8;
            }
            a {
                margin: 15px 0;
                font-size: 1.1875rem;
                line-height: 2.6315789474;
                text-decoration: none;
                &:hover {
                    color: #003078;
                    text-decoration: underline;
                }
            }
        } 
    }
}