
{% extends "layout.html" %}

{% block pageTitle %}
  Amber's Content
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Amber's Content
      </h1>
      
      <!--ADD YOUR CONTENT INSIDE HERE-->
      <h2 id="how-to-use-this-page">How to use this page</h2>
      <p>Check for known issues or <a href="file:///C:/Users/ANIKOLICH/AppData/Local/Temp/Temp1_Check%20for%20known%20issues%20with%20school%20daily%20attendance.zip/Checkforknownissueswithschooldailyattendance.html#h.obx3de59bgbg">tell us about a new issue</a>. We are investigating all known issues. Last updated on 23 January 2023. </p>
      <h2 id="issues-with-the-data">Issues with the data</h2>
      <h3 id="code-x-currently-included-as-absence">Code X currently included as absence</h3>
      <p>Your attendance data could be incorrect if you are using code X in your MIS. This is because the tool currently includes code X as absence, this is incorrect. </p>
      <p> You should only use code X when a child who is not of statutory school age is not present at school. This does not count as absence. Whilst we work to correct this, continue to use code X when pupils who are not of statutory school age are not present. For coronavirus (COVID-19) related absence, use code I.</p>
      <h3 id="pupils-showing-more-than-once">Pupils showing more than once</h3>
      <p> This can happen if:</p>
      <ul>
      <li><p>you have your management information system (MIS) provider </p>
      </li>
      <li><p>you change a pupil&#39;s characteristics in your MIS </p>
      </li>
      <li>there is a problem with how the system recognises when a pupil changes school year </li>
      </ul>
      <p>If you have duplicated pupil records, this only impacts your overall attendance figures if both examples of the pupil&#39;s record show sessions in the sessions column. This currently means the sessions have been counted twice, so your figures will be inaccurate.</p>
      <h3 id="my-report-shows-blank-in-some-fields">My report shows &#39;(blank)&#39; in some fields</h3>
      <p>You might see &#39;(blank)&#39; on your reports if you:</p>
      <ul>
      <li>are using DfE codes incorrectly </li>
      <li>have not approved DfE&#39;s request to see pupil level data, from your Wonde portal </li>
      </ul>
      <p>You can:</p>
      <ul>
      <li><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1099677/Working_together_to_improve_school_attendance.pdf">check that you are checking DfE codes correctly</a> </li>
      <li><a href="https://edu.wonde.com/login">check your Wonde portal</a> and make sure you have approved permission for DfE</li>
      </ul>
      <p>If you have not used DfE codes correctly, DfE is investigating how to correct this. </p>
      <p>If you are missing sessions and you have confirmed that you are sharing attendance data with DfE and using DfE attendance codes correctly, you can let us know by submitting an enquiry with as much information as possible. </p>
      <h3 id="pupils-with-no-session-data">Pupils with no session data</h3>
      <p>A pupil may show as having no attendance or session data if: </p>
      <ul>
      <li>you have used any attendance codes that are not in DfE guidance  </li>
      <li>the pupil no longer attends the school  </li>
      <li><p>you have not approved permission for DfE to view pupil level data </p>
      </li>
      <li><p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1099677/Working_together_to_improve_school_attendance.pdf">check that you are checking DfE codes correctly</a> </p>
      </li>
      <li><a href="https://edu.wonde.com/login">check your Wonde portal</a> and make sure you have approved permission for DfE</li>
      </ul>
      <h2 id="data-is-not-up-to-date">Data is not up to date</h2>
      <p>Data is updated every 24 hours. This takes longer at busy times, like at the beginning of term. If you make a change in your MIS records, it can take up to 10 days to see the changes in your reports. </p>
      <p>Your data may not be up to date if: </p>
      <ul>
      <li>you have changed the information in your MIS records less than 10 days ago </li>
      <li>You are no longer sharing data with DfE, because you have declined the request in your <a href="https://edu.wonde.com/login">Wonde portal</a> </li>
      </ul>
      <p>After changing information in your MIS, please wait 10 days before reporting an issue. Please also confirm that you are still sharing data with DfE by checking in your <a href="https://edu.wonde.com/login">Wonde portal</a> . If you are still experiencing this issue, submit and enquiry and provide as much information as possible. </p>
      <h3 id="missing-or-incorrect-information">Missing or incorrect information</h3>
      <p>Please check your MIS before reporting missing or incorrect data. Please check the individual pupil report and your MIS records for: </p>
      <ul>
      <li>pupils missing from the data  </li>
      <li>where you have noticed more AM than PM sessions </li>
      </ul>
      <p>Please check your records before reporting incorrect data. If the information on your reports does not match your MIS record, let us know by <a href="https://docs.google.com/document/d/1qlt0LzbMd4hwzRO1pP0t3KUET5ZQS5E17RmbTzniHCs/edit#heading=h.obx3de59bgbg">submitting an enquiry</a> and including as much information as possible. </p>
      <h3 id="schools-missing-from-trust-or-local-authority-report">Schools missing from trust or local authority report</h3>
      <p>If a school is missing from the local authority or trust reports, <a href="https://docs.google.com/spreadsheets/d/17GpUI2ppt34p4LotD4Myk-7xXQqliGzt/edit?usp=sharing&amp;ouid=115950876738205192274&amp;rtpof=true&amp;sd=true">check if they are sharing data with DfE</a> before submitting an enquiry. </p>
      <h3 id="year-groups-names-and-ethnicity-not-displaynig-correctly">Year groups, names and ethnicity not displaynig correctly</h3>
      <p>Some year group names currently show inside brackets, for example (10). The reports will reflect how names are written in your MIS. This does not impact your overall attendance figures. Check how these items have been written in your MIS before reporting an issue. </p>
      <h3 id="schools-showing-more-than-once-in-a-trust-or-local-authority-report">Schools showing more than once in a trust or local authority report</h3>
      <p>Schools may show more than once because of a problem caused when changes are made to a school record,  for example because a school has recently academised or changed name. This can cause the school to appear twice, under its new and old unique reference number (URN).  </p>
      <p>If you see duplicate school records, please let us know by submitting an enquiry with as much information as possible.  </p>
      <h2 id="issues-using-your-reports">Issues using your reports</h2>
      <h3 id="exporting-and-downloading-data">Exporting and downloading data</h3>
      <p>Only schools can export data from the reports. We will let you know when local authorities and trusts can export and download from the reports. </p>
      <h2 id="tell-us-about-a-new-issue">Tell us about a new issue</h2>
      <p>If you&#39;re issue is not on this page, tell us about it by <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f9f4f5a1-936f-448b-bbeb-9dcdd595f468/AF-Stage-8aa41278-3cdd-45a3-ad87-80cbffb8b992/definition.json&amp;redirectlink=%2Fen&amp;cancelRedirectLink=%2Fen&amp;consentMessage=yes">submitting an enquiry</a> with as much detail as possible. </p>
      <p>*[MIS]: Management Information System </p>

      
      <!--THIS IS THE END OF YOUR CONTENT-->
    </div>

    </div>
  </div>

{% endblock %}