
{% extends "layout.html" %}

{% block pageTitle %}
  Child in Need – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="landing.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a href="/child-protection.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/special-educational-needs.html"><strong>EHCP Referrals</strong></a></li>
    <li><a href="/social-care-practitioner-data.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Child in Need (CiN)
      </h1>
      
      <p>Shows referrals to children’s social care services for children in need (CiN) and number of Child in Need plans issued. Children in need are assessed as needing help and protection because of risks to the development or health.</p>
      
      <ul class="landing-grid">
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cin-referrals.html">
            <div class="inner-text">
              <p class="header"><strong>Referrals & Re-referrals</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li>
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cin-nfa.html">
            <div class="inner-text">
              <p class="header"><strong>No Further Actions (NFA)</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li>     
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cin-child-fam-assess.html">
            <div class="inner-text">
              <p class="header"><strong>Child Family Assessments</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li> 
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cin-plans.html">
            <div class="inner-text">
              <p class="header"><strong>Child in Need Plans</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li> 
      </ul>
    
    </div>

    </div>
  </div>

{% endblock %}
