
{% extends "layout.html" %}

{% block pageTitle %}
  Child Protection – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="/index.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a class="active" href="/child-protection-landing.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after-landing.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/ehcp-referrals.html"><strong>Education Health Care Plans</strong></a></li>
    <li><a href="/glossary.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Child Protection
      </h1>
      
      <p>Shows the number of Section 47 (S47) enquiries made to the Local Authority and as a result the number of Initial Child Protection Conferences (ICPC). Also shows the number of children who are on a Child Protection Plan (CPP).</p>

      <ul class="landing-grid">
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cp-section47.html">
            <div class="inner-text">
              <p class="header"><strong>Section 47 enquiries</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li>
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cp-icpc.html">
            <div class="inner-text">
              <p class="header"><strong>Initial Child Protection Conferences</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li>
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cp-current-repeat-plans.html">
            <div class="inner-text">
              <p class="header"><strong>Current & Repeat Child Protection Plans</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li>     
        <li class="chevron-card">
          <a class="chevron-card__wrapper" href="/cp-closed-plans.html">
            <div class="inner-text">
              <p class="header"><strong>Closed Child Protection Plans</strong></p>
              <p class="intro-text">Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here. Explanation about this page goes here.</p>
            </div>
          </a>
        </li>
      </ul>
    
    </div>

    </div>
  </div>

{% endblock %}
