
{% extends "layout.html" %}

{% block pageTitle %}
  Child Protection – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
      <li><a href="/child-in-need.html"><strong>Child in Need</strong></a></li>
      <li class="active"><a href="/child-protection.html"><strong>Child Protection</strong></a></li>
      <li><a href="/child-looked-after.html"><strong>Child Looked After</strong></a></li>
      <li><a href="/special-educational-needs.html"><strong>Special Educational Needs</strong></a></li>
      <li><a href="/social-care-practitioner-data.html"><strong>Social Care Practitioner Data</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Child Protection
        <span class="govuk-caption-m">For more information, please visit <a href="https://www.gov.uk">www.gov.uk</a></span>
      </h1>
      
      <h2>Referrals</h2>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!--tabs-->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#by-timescale">
              By timescale
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#by-source">
              By source
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#re-referral">
              Re-referral 
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#no-further-action">
              No further action
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#compare">
              Compare
            </a>
          </li>
        </ul>
        <!--inside tabs-->
        <div class="govuk-tabs__panel" id="by-timescale">
          
          
        </div>
        <div class="govuk-tabs__panel" id="by-source">
          
          
        </div>
        <div class="govuk-tabs__panel" id="re-referral">
          
          
        </div>
        <div class="govuk-tabs__panel" id="no-further-action">
          
          
        </div>
        <div class="govuk-tabs__panel" id="compare">
          
          
        </div>
        
    
      </div>

    </div>
  </div>

{% endblock %}
