
{% extends "layout.html" %}

{% block pageTitle %}
  Child in Need – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
      <li class="active"><a href="/child-in-need.html"><strong>Child in Need</strong></a></li>
      <li><a href="/child-protection.html"><strong>Child Protection</strong></a></li>
      <li><a href="/child-looked-after.html"><strong>Child Looked After</strong></a></li>
      <li><a href="/special-educational-needs.html"><strong>Special Educational Needs</strong></a></li>
      <li><a href="/social-care-practitioner-data.html"><strong>Social Care Practitioner Data</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Child in Need (CiN)
        <span class="govuk-caption-m">For more information, please visit <a href="https://www.gov.uk">www.gov.uk</a></span>
      </h1>
      
      <h2>Referrals</h2>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!--tabs-->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#by-timescale">
              By timescale
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#by-source">
              By source
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#re-referral">
              Re-referral 
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#no-further-action">
              No further action
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#compare">
              Compare
            </a>
          </li>
        </ul>
        <!--inside tabs-->
        <div class="govuk-tabs__panel" id="by-timescale">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Filter
              </span>
            </summary>
            <div class="govuk-details__text">
              Filters to go here.
            </div>
          </details>
          <h2>Last week demand
            <span class="govuk-caption-m">4 July 2022 - 10 July 2022</span>
          </h2>
          <img src="/public/images/cin-last-week-demand.jpg" alt="Graph showing the demand from the last week" width="100%">
          <a href="#">Download the last week demand data</a>
          <hr/>
          <h2>Last month demand
            <span class="govuk-caption-m">1 January 2022 - 31 January 2022</span>
          </h2>
          <img src="/public/images/cin-last-month-demand.jpg" alt="Graph showing the demand from the last month" width="100%">
          <a href="#">Download the last month demand data</a>
          <hr/>
          <h2>Last year demand
            <span class="govuk-caption-m">1 January 2022 - 31 December 2022</span>
          </h2>
          <img src="/public/images/cin-last-year-demand.jpg" alt="Graph showing the demand from the last year" width="100%">
          <a href="#">Download the last year demand data</a>
        </div>
        <div class="govuk-tabs__panel" id="by-source">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Filter
              </span>
            </summary>
            <div class="govuk-details__text">
              Filters to go here.
            </div>
          </details>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">Quantity</th>
                <th scope="col" class="govuk-table__header">From</th>
                <th scope="col" class="govuk-table__header">To</th>
                <th scope="col" class="govuk-table__header">Percentage of referrals</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Family member or carer</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">1%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Acquaintance (including neighbours and childminders)</a></td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">1%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Self</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">0%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Other (including strangers of members of Parliament MPs)</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">17%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Schools</a></td>
                <td class="govuk-table__cell">50</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">30%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Education services</a></td>
                <td class="govuk-table__cell">21</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">21%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">General Practitioner</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">2%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">Health visitor</a></td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">2%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="#">School Nurse</a></td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">30 May 2021</td>
                <td class="govuk-table__cell">25 June 2021</td>
                <td class="govuk-table__cell">2%</td>
              </tr>
            </tbody>
          </table>
          <a href="#">Download the by source data</a>
          </button>
        </div>
        <div class="govuk-tabs__panel" id="re-referral">
          
          
        </div>
        <div class="govuk-tabs__panel" id="no-further-action">
          
          
        </div>
        <div class="govuk-tabs__panel" id="compare">
          
          
        </div>
        
    
      </div>

    </div>
  </div>

{% endblock %}
