
{% extends "layout.html" %}

{% block pageTitle %}
  Referrals & Re-referrals – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="landing.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a href="/child-protection.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/special-educational-needs.html"><strong>EHCP Referrals</strong></a></li>
    <li><a href="/social-care-practitioner-data.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>


<a href="/child-in-need-landing.html" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Referrals & Re-referrals</h1>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row latest-activity">
      <!--FILTERS-->
      <div class="govuk-grid-column-one-third filters">
        <h2>Filters</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Social Care case date range
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h3 class="govuk-fieldset__heading">
                      Date from
                    </h3>
                  </legend>
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 30 1 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h3 class="govuk-fieldset__heading">
                      Date to
                    </h3>
                  </legend>
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 30 1 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <!--<div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Referral Source
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h3 class="govuk-fieldset__heading">
                        Source
                      </h3>
                    </legend>
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="source">
                            Source Name
                          </label>
                          <select class="govuk-select" name="source" id="source">
                            <option value="1">All sources</option>
                            <option value="2">A&E</option>
                            <option value="3">Acquaintence</option>
                            <option value="4">Anonymous</option>
                            <option value="5">Education Services</option>
                            <option value="6">External Local Authority</option>
                            <option value="7">Family/Carer</option>
                            <option value="8">GP</option>
                            <option value="9">Health Visitor</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <!--END OF FILTERS-->

      <!--TABS-->
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#referrals-received">
              Referrals received
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#re-referrals-numbs">
              Number of Re-referrals
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#re-referrals-percent">
              % Re-referrals
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#table-sum">
              Table Summary
            </a>
          </li>
        </ul>
        <!--inside tabs-->
        <div class="govuk-tabs__panel" id="referrals-received">
          <div class="greenbox">
            <h2>Re-referrals received</h2>
            <p>2,093</p>  
          </div>
          <img src="/public/images/pink.jpg" alt="Graph showing the demand from the last week" width="100%">
        </div>

        <div class="govuk-tabs__panel" id="re-referrals-numbs">
          <div class="greenbox">
            <h2>Number of Re-referrals</h2>
            <p>1,211</p>  
          </div>
          <img src="/public/images/green.jpg" alt="Graph showing the demand from the last month" width="100%">
        </div>

        <div class="govuk-tabs__panel" id="re-referrals-percent">
          <div class="greenbox">
            <h2>% Re-referrals</h2>
            <p>57.86%</p>  
          </div>
          <img src="/public/images/purple.jpg" alt="Graph showing the demand from the last week" width="100%">
        </div>

        <div class="govuk-tabs__panel" id="table-sum">
          <h2>Table Summary</h2>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Referral Source</th>
                <th scope="col" class="govuk-table__header">Referrals</th>
                <th scope="col" class="govuk-table__header">% Referrals</th>
                <th scope="col" class="govuk-table__header">Number of Re-referrals</th>
                <th scope="col" class="govuk-table__header">% Re-referrals</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Police</td>
                <td class="govuk-table__cell">902</td>
                <td class="govuk-table__cell">43.10%</td>
                <td class="govuk-table__cell">537</td>
                <td class="govuk-table__cell">44.34%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Schools</td>
                <td class="govuk-table__cell">245</td>
                <td class="govuk-table__cell">11.71%</td>
                <td class="govuk-table__cell">153</td>
                <td class="govuk-table__cell">12.63%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Other Primary Health Service</td>
                <td class="govuk-table__cell">233</td>
                <td class="govuk-table__cell">11.31%</td>
                <td class="govuk-table__cell">81</td>
                <td class="govuk-table__cell">6.69%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">External Local Authority</td>
                <td class="govuk-table__cell">181</td>
                <td class="govuk-table__cell">8.65%</td>
                <td class="govuk-table__cell">90</td>
                <td class="govuk-table__cell">7.43%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Family/Carer</td>
                <td class="govuk-table__cell">129</td>
                <td class="govuk-table__cell">6.16%</td>
                <td class="govuk-table__cell">84</td>
                <td class="govuk-table__cell">6.94%</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Local Authority Social Care</td>
                <td class="govuk-table__cell">125</td>
                <td class="govuk-table__cell">5.97%</td>
                <td class="govuk-table__cell">94</td>
                <td class="govuk-table__cell">7.76%</td>
              </tr>
              <!--<tr class="govuk-table__row">
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>-->
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><strong>Total</strong></td>
                <td class="govuk-table__cell"><strong>2,093</strong></td>
                <td class="govuk-table__cell"><strong>100.00%</strong></td>
                <td class="govuk-table__cell"><strong>1,211</strong></td>
                <td class="govuk-table__cell"><strong>100.00%</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--END OF TABS-->
  </main>
</div>

{% endblock %}
