
{% extends "layout.html" %}

{% block pageTitle %}
  Referral & Re-referral Breakdowns – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="/index.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a href="/child-protection-landing.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after-landing.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/ehcp-referrals.html"><strong>Education Health Care Plans</strong></a></li>
    <li><a href="/glossary.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/child-in-need-landing.html">Child in Need</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/cin-referrals.html">Referrals & Re-referrals</a>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl">Referral & Re-referral Breakdowns<br/>
  <span class="govuk-heading-l">Child Level</span></h1>

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row latest-activity">
      <!--FILTERS-->
      <div class="govuk-grid-column-one-third filters">
        <h2>Filters</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Social Care case date range
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h3 class="govuk-fieldset__heading">
                      Date from
                    </h3>
                  </legend>
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 30 1 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label for="day-from" class="govuk-label govuk-date-input__label">Day</label>
                        <input type="text" id="day-from" name="day-from" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label for="month-from" class="govuk-label govuk-date-input__label">Month</label>
                        <input type="text" id="month-from" name="month-from" class="govuk-input govuk-date-input__input govuk-input--width-2" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label for="year-from" class="govuk-label govuk-date-input__label">Year</label>
                        <input type="text" id="year-from" name="year-from" class="govuk-input govuk-date-input__input govuk-input--width-4" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h3 class="govuk-fieldset__heading">
                      Date to
                    </h3>
                  </legend>
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 30 1 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="day-to">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day-to" name="day-to" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="month-to">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month-to" name="month-to" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="year-to">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year-to" name="year-to" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h3 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Referral Source
                </span>
              </h3>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h3 class="govuk-fieldset__heading">
                        Source
                      </h3>
                    </legend>
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="source">
                            Source Name
                          </label>
                          <select class="govuk-select" name="source" id="source">
                            <option value="1">All sources</option>
                            <option value="2">Accident &amp; Emergency</option>
                            <option value="3">Acquaintence</option>
                            <option value="4">Anonymous</option>
                            <option value="5">Education Services</option>
                            <option value="6">External Local Authority</option>
                            <option value="7">Family/Carer</option>
                            <option value="8">General Practitioner</option>
                            <option value="9">Health Visitor</option>
                            <option value="10">Housing</option>
                            <option value="11">Local Authority Department</option>
                            <option value="12">Local Authority Social Care</option>
                            <option value="13">Other Agency</option>
                            <option value="14">Other Health Service</option>
                            <option value="15">Other Individual</option>
                            <option value="16">Other Legal Agency</option>
                            <option value="17">Other Primary Health Service</option>
                            <option value="18">Police</option>
                            <option value="19">School Nurse</option>
                            <option value="20">Schools</option>
                            <option value="21">Unknown</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END OF FILTERS-->

      <!--TABS-->
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table responsive">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">Local Authority Child ID</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">UPN*</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">Referral Source</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">Social care case ID</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">Start Date</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">End Date</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">Previous Referral Date</th>
              <th scope="col" class="govuk-table__header app-custom-class" tabindex="0">No Further Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3440177827</td>
              <td class="govuk-table__cell" tabindex="0">AAA9297146791</td>
              <td class="govuk-table__cell" tabindex="0">Accident &amp; Emergency</td>
              <td class="govuk-table__cell" tabindex="0">48532</td>
              <td class="govuk-table__cell" tabindex="0">25/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">4289522934</td>
              <td class="govuk-table__cell" tabindex="0">AAA9619852893</td>
              <td class="govuk-table__cell" tabindex="0">Acquaintance</td>
              <td class="govuk-table__cell" tabindex="0">32251</td>
              <td class="govuk-table__cell" tabindex="0">06/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">1479411328</td>
              <td class="govuk-table__cell" tabindex="0">AAA4711648534</td>
              <td class="govuk-table__cell" tabindex="0">Anonymous</td>
              <td class="govuk-table__cell" tabindex="0">20461</td>
              <td class="govuk-table__cell" tabindex="0">05/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">Yes</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3411053633</td>
              <td class="govuk-table__cell" tabindex="0">AAA9917398168</td>
              <td class="govuk-table__cell" tabindex="0">Education Services</td>
              <td class="govuk-table__cell" tabindex="0">37517</td>
              <td class="govuk-table__cell" tabindex="0">24/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">25/04/2022</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">8663463270</td>
              <td class="govuk-table__cell" tabindex="0">AAA9639263711</td>
              <td class="govuk-table__cell" tabindex="0">External Local Authority</td>
              <td class="govuk-table__cell" tabindex="0">53840</td>
              <td class="govuk-table__cell" tabindex="0">25/04/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">1139341019</td>
              <td class="govuk-table__cell" tabindex="0">AAA3104409026</td>
              <td class="govuk-table__cell" tabindex="0">Family/Carer</td>
              <td class="govuk-table__cell" tabindex="0">30870</td>
              <td class="govuk-table__cell" tabindex="0">02/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">15/06/2022</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3628497071</td>
              <td class="govuk-table__cell" tabindex="0">AAA9681810896</td>
              <td class="govuk-table__cell" tabindex="0">General Practitioner</td>
              <td class="govuk-table__cell" tabindex="0">31763</td>
              <td class="govuk-table__cell" tabindex="0">18/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3744988817</td>
              <td class="govuk-table__cell" tabindex="0">AAA9223707215</td>
              <td class="govuk-table__cell" tabindex="0">General Practitioner</td>
              <td class="govuk-table__cell" tabindex="0">22475</td>
              <td class="govuk-table__cell" tabindex="0">29/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">Yes</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">4309614436</td>
              <td class="govuk-table__cell" tabindex="0">AAA9774310430</td>
              <td class="govuk-table__cell" tabindex="0">General Practitioner</td>
              <td class="govuk-table__cell" tabindex="0">48895</td>
              <td class="govuk-table__cell" tabindex="0">04/04/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">9021471965</td>
              <td class="govuk-table__cell" tabindex="0">AAA9417282751</td>
              <td class="govuk-table__cell" tabindex="0">General Practitioner</td>
              <td class="govuk-table__cell" tabindex="0">30480</td>
              <td class="govuk-table__cell" tabindex="0">28/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">2702775108</td>
              <td class="govuk-table__cell" tabindex="0">AAA9283130525</td>
              <td class="govuk-table__cell" tabindex="0">Health Visitor</td>
              <td class="govuk-table__cell" tabindex="0">47613</td>
              <td class="govuk-table__cell" tabindex="0">23/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">6496579313</td>
              <td class="govuk-table__cell" tabindex="0">AAA9608417750</td>
              <td class="govuk-table__cell" tabindex="0">Housing</td>
              <td class="govuk-table__cell" tabindex="0">53839</td>
              <td class="govuk-table__cell" tabindex="0">26/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">7702074514</td>
              <td class="govuk-table__cell" tabindex="0">AAA9145373213</td>
              <td class="govuk-table__cell" tabindex="0">Housing</td>
              <td class="govuk-table__cell" tabindex="0">53068</td>
              <td class="govuk-table__cell" tabindex="0">20/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3018664607</td>
              <td class="govuk-table__cell" tabindex="0">AAA9532366523</td>
              <td class="govuk-table__cell" tabindex="0">Local Authority Department</td>
              <td class="govuk-table__cell" tabindex="0">37392</td>
              <td class="govuk-table__cell" tabindex="0">01/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr><tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3122472859</td>
              <td class="govuk-table__cell" tabindex="0">AAA9745659176</td>
              <td class="govuk-table__cell" tabindex="0">Local Authority Department</td>
              <td class="govuk-table__cell" tabindex="0">35629</td>
              <td class="govuk-table__cell" tabindex="0">30/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">6973128263</td>
              <td class="govuk-table__cell" tabindex="0">AAA9703707646</td>
              <td class="govuk-table__cell" tabindex="0">Local Authority Department</td>
              <td class="govuk-table__cell" tabindex="0">55953</td>
              <td class="govuk-table__cell" tabindex="0">06/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">8701507426</td>
              <td class="govuk-table__cell" tabindex="0">8701507426</td>
              <td class="govuk-table__cell" tabindex="0">Local Authority Department</td>
              <td class="govuk-table__cell" tabindex="0">29903</td>
              <td class="govuk-table__cell" tabindex="0">03/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">9285236360</td>
              <td class="govuk-table__cell" tabindex="0">AAA9467918025</td>
              <td class="govuk-table__cell" tabindex="0">Local Authority Department</td>
              <td class="govuk-table__cell" tabindex="0">39725</td>
              <td class="govuk-table__cell" tabindex="0">26/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">2896792610</td>
              <td class="govuk-table__cell" tabindex="0">AAA1848859519</td>
              <td class="govuk-table__cell" tabindex="0">Local Authority Social Care</td>
              <td class="govuk-table__cell" tabindex="0">15001</td>
              <td class="govuk-table__cell" tabindex="0">29/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3742600565</td>
              <td class="govuk-table__cell" tabindex="0">AAA9160984724</td>
              <td class="govuk-table__cell" tabindex="0">Other Agency</td>
              <td class="govuk-table__cell" tabindex="0">38376</td>
              <td class="govuk-table__cell" tabindex="0">03/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">2337094963</td>
              <td class="govuk-table__cell" tabindex="0">AAA9827014265</td>
              <td class="govuk-table__cell" tabindex="0">Other Health Service</td>
              <td class="govuk-table__cell" tabindex="0">32824</td>
              <td class="govuk-table__cell" tabindex="0">22/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3852083660</td>
              <td class="govuk-table__cell" tabindex="0">AAA9286876960</td>
              <td class="govuk-table__cell" tabindex="0">Other Health Service</td>
              <td class="govuk-table__cell" tabindex="0">23080</td>
              <td class="govuk-table__cell" tabindex="0">04/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">Yes</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">9009690039</td>
              <td class="govuk-table__cell" tabindex="0">AAA9522289027</td>
              <td class="govuk-table__cell" tabindex="0">Other Individual</td>
              <td class="govuk-table__cell" tabindex="0">32222</td>
              <td class="govuk-table__cell" tabindex="0">25/03/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">1663924958</td>
              <td class="govuk-table__cell" tabindex="0">AAA6198310411</td>
              <td class="govuk-table__cell" tabindex="0">Other Legal Agency</td>
              <td class="govuk-table__cell" tabindex="0">52428</td>
              <td class="govuk-table__cell" tabindex="0">16/04/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">5229249241</td>
              <td class="govuk-table__cell" tabindex="0">AAA9147042558</td>
              <td class="govuk-table__cell" tabindex="0">Other Primary Health Service</td>
              <td class="govuk-table__cell" tabindex="0">19678</td>
              <td class="govuk-table__cell" tabindex="0">19/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">2614566720</td>
              <td class="govuk-table__cell" tabindex="0">AAA9176757613</td>
              <td class="govuk-table__cell" tabindex="0">Police</td>
              <td class="govuk-table__cell" tabindex="0">50985</td>
              <td class="govuk-table__cell" tabindex="0">17/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">3155159443</td>
              <td class="govuk-table__cell" tabindex="0">AAA9769710969</td>
              <td class="govuk-table__cell" tabindex="0">Police</td>
              <td class="govuk-table__cell" tabindex="0">57837</td>
              <td class="govuk-table__cell" tabindex="0">05/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">8895297438</td>
              <td class="govuk-table__cell" tabindex="0">AAA9676475131</td>
              <td class="govuk-table__cell" tabindex="0">Police</td>
              <td class="govuk-table__cell" tabindex="0">17150</td>
              <td class="govuk-table__cell" tabindex="0">24/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">7123947547</td>
              <td class="govuk-table__cell" tabindex="0">AAA3627745837</td>
              <td class="govuk-table__cell" tabindex="0">School Nurse</td>
              <td class="govuk-table__cell" tabindex="0">12043</td>
              <td class="govuk-table__cell" tabindex="0">24/04/2022</td>
              <td class="govuk-table__cell" tabindex="0">14/09/2022</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">9268639414</td>
              <td class="govuk-table__cell" tabindex="0">AAA2866177632</td>
              <td class="govuk-table__cell" tabindex="0">Schools</td>
              <td class="govuk-table__cell" tabindex="0">22393</td>
              <td class="govuk-table__cell" tabindex="0">08/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">No</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">2164666947</td>
              <td class="govuk-table__cell" tabindex="0">AAA9570992445</td>
              <td class="govuk-table__cell" tabindex="0">Unknown</td>
              <td class="govuk-table__cell" tabindex="0">50343</td>
              <td class="govuk-table__cell" tabindex="0">06/02/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">Yes</td>
            </tr>
            <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0">2399680283</td>
              <td class="govuk-table__cell" tabindex="0">AAA9107734135</td>
              <td class="govuk-table__cell" tabindex="0">Unknown</td>
              <td class="govuk-table__cell" tabindex="0">9774</td>
              <td class="govuk-table__cell" tabindex="0">04/04/2022</td>
              <td class="govuk-table__cell" tabindex="0">N/A</td>
              <td class="govuk-table__cell" tabindex="0">01/01/2022</td>
              <td class="govuk-table__cell" tabindex="0">Yes</td>
            </tr>
            <!-- <tr class="govuk-table__row" tabindex="0">
              <td scope="row" class="govuk-table__header" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
              <td class="govuk-table__cell" tabindex="0"></td>
            </tr> -->
          </tbody>
          <tfoot>
            <tr class="govuk-table__row" tabindex="0">
              <td class="govuk-table__cell" colspan="8" tabindex="0">*The unique pupil number (UPN) is a 13-character code that identifies each pupil in the local-authority-maintained school system.<br/><br/>It is an optional attribute for local authorities to enter into the system, Additionally, if a child has not started school or is home schooled, they will not have a UPN.</td>
            </tr>
          </tfoot>
        </table>
    </div>
    <!--END OF TABS-->
  </main>
</div>

{% endblock %}
