
{% extends "layout.html" %}

{% block pageTitle %}
  Child in Need – Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
      <li><a href="/child-in-need.html"><strong>Child in Need</strong></a></li>
      <li><a href="/child-protection.html"><strong>Child Protection</strong></a></li>
      <li><a href="/child-looked-after.html"><strong>Child Looked After</strong></a></li>
      <li><a href="/special-educational-needs.html"><strong>Special Educational Needs</strong></a></li>
      <li><a href="/social-care-practitioner-data.html"><strong>Social Care Practitioner Data</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Children's Social Care Data Dashboards
        <span class="govuk-caption-m">For more information, please visit <a href="https://www.gov.uk">www.gov.uk</a></span>
      </h1>
      
      <p>Nullam lectus libero, placerat nec dui eu, convallis cursus diam. Nam dapibus augue a magna laoreet luctus. Proin sodales fermentum porta. Nulla risus elit, bibendum at eros ut, rutrum semper nibh. Proin interdum tristique tincidunt. Proin feugiat pulvinar quam ut congue. Ut aliquam ac nibh ut vestibulum.</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="">
                  <a class="" href="/child-in-need.html">Child in Need (CiN)</a>
                </h3>  
                <p>Showing data for Child in Need... urabitur dui urna, euismod imperdiet volutpat non, cursus ac mi. Donec sed turpis vitae lorem auctor luctus. Morbi lorem metus, pulvinar ut tincidunt ac, tristique et lorem.</p>         
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="">
                  <a class="" href="/child-protection.html">Child Protection</a>
                </h3>  
                <p>Showing data for Child Protection... Vestibulum a neque rutrum, ullamcorper leo id, scelerisque urna. Cras elementum quis leo at commodo. Proin blandit sapien velit, non varius ante dignissim tincidunt.</p>         
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="">
                  <a class="" href="/child-looked-after.html">Child Looked After</a>
                </h3>       
                <p>Showing data for Child Looked After... Vivamus pharetra lectus metus. Integer mollis, felis in pretium faucibus, mauris massa laoreet dui, at efficitur risus magna eget turpis.</p>    
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="">
                  <a class="" href="/special-educational-needs.html">Special Educational Needs</a>
                </h3> 
                <p>Showing data for Special Educational Needs... Praesent finibus lacus nunc, eget accumsan velit congue ac. In placerat ut nibh quis auctor. In ex quam, lacinia in metus quis, egestas gravida mauris.</p>       
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="">
            <div class="">
              <div class="">
                <h3 class="">
                  <a class="" href="/social-care-practitioner-data.html">Social Care Practitioner Data</a>
                </h3> 
                <p>Showing Social Care Practitioner Data... Sed ullamcorper venenatis tortor, in bibendum augue. Fusce tristique tempus nisi ut bibendum. Mauris et dignissim ligula. Phasellus laoreet eu lacus quis tristique.</p>       
              </div>
            </div>
          </div>
        </div>
      </div>        

      <a href="/landing.html" style="display:none;">Updates</a>
    </div>
  </div>

{% endblock %}
