
{% extends "layout.html" %}

{% block pageTitle %}
  Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="landing.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a href="/child-protection.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/special-educational-needs.html"><strong>EHCP Referrals</strong></a></li>
    <li><a href="/social-care-practitioner-data.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Children's Social Care
      </h1>    

      <h2>Overview</h2>
      <p>Look at data and trends for children’s social care referrals, re-referrals and family assessments. Use this if you work in the children’s social care policy areas at the department for education (DfE).</p>

      <h2>Where the data comes from</h2>
      <p>The data comes from local authority children’s social care case management systems and is updated daily, with activity that has been recorded on the child’s case record.</p>

      <h2>How to use this tool</h2>
      <p>Get an up-to-date view of performance for each local authority, to help you understand the trends, risks and issues. Use this tool alongside other data sets. The tool shows a child’s journey from referral, assessment, child in need (CiN), child protection and child looked after. Data is updated each day, so may not show the latest information.</p>

      <h2>Give Feedback</h2>
      <a class="form" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-YlVLd4Zb0JAozA3q_d5NDVUN1pYVzNJVFQ0MUo5Q09EVDhaOEZIRENKVyQlQCN0PWcu">Fill out the feedback form</a>
      
      
    </div>
  </div>

{% endblock %}
