
{% extends "layout.html" %}

{% block pageTitle %}
Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="landing.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a href="/child-protection-landing.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after-landing.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/ehcp-referrals.html"><strong>Education Health Care Plans</strong></a></li>
    <li><a href="/glossary.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


  <section class="app-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Children's Social Care Dashboards</h1>
          <p class="govuk-body-l" id="subheadinghomepage">Look at data and trends for Children’s Social Care Referrals, Re-referrals and Family Assessments. Use this if you work in the Children’s Social Care policy areas at the Department for Education (DfE).</p>
        </div>
      </div>
    </div>
  </section>

    <div class="landing-intro">
      <div class="landing-section">
        <h2>Where the data comes from</h2>
        <p>The data comes from Local Authority Children’s Social Care case management systems and is updated daily, with activity that has been recorded on the child’s case record.</p>
      </div>
      <div class="landing-section">
        <h2>How to use this tool</h2>
        <p>Get an up-to-date view of performance for each Local Authority, to help you understand the trends, risks and issues. Use this tool alongside other data sets. The tool shows a child’s journey from Referral, Assessment, Child in Need (CiN), Child Protection and Child Looked After (CLA).</p>
        <p>Data is updated each day, so may not show the latest information.</p>
      </div>
      <div class="landing-section">
        <h2>Give Feedback</h2>
        <p>If you have any feedback or suggestions to improve our service, please complete and submit our feedback form.</p>
        <p><a class="form" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-YlVLd4Zb0JAozA3q_d5NDVUN1pYVzNJVFQ0MUo5Q09EVDhaOEZIRENKVyQlQCN0PWcu">Submit a feedback form</a></p>
      </div>
    </div>  

  </div>
</div>

{% endblock %}
