
{% extends "layout.html" %}

{% block pageTitle %}
  Latest Activity - Children's Social Care
{% endblock %}

{% block content %}
<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
  <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
  <ul class="app-navigation__list app-width-container">
    <li><a href="/index.html"><strong>Home</strong></a></li>
    <li><a href="/latest-activity.html"><strong>Latest Activity</strong></a></li>
    <li><a href="/child-in-need-landing.html"><strong>Child in Need</strong></a></li>
    <li><a href="/child-protection-landing.html"><strong>Child Protection</strong></a></li>
    <li><a href="/child-looked-after-landing.html"><strong>Child Looked After</strong></a></li>
    <li><a href="/ehcp-referrals.html"><strong>Education Health Care Plans</strong></a></li>
    <li><a href="/glossary.html"><strong>Glossary</strong></a></li>
  </ul>
</nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Latest Activity
      </h1>
      
      <p>This page shows a summary of the all of latest data received from Local Authority case management systems.</p>
      
      <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
          <div class="govuk-grid-row latest-activity">
            <div class="govuk-grid-column-one-third">
              <div class="greybox">
                <p class="header"><strong>Local Authority</strong></p>
                <p>Local Authority Name</p>
              </div>  
            </div>
            <div class="govuk-grid-column-two-thirds">
              <ul class="homepage-services-and-info__list">
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <p class="header"><strong><a class="govuk-link chevron-card__link" href="/cin-referrals.html">Referrals</a></strong></p>
                
                    <p class="govuk-body chevron-card__description">28<br/><br/>Latest Update: 01/10/2022</p>
                  </div>
                </li>
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <p class="header"><strong><a class="govuk-link chevron-card__link" href="/cin-child-fam-assess.html">Child Family Assessments</a></strong></p>
                
                    <p class="govuk-body chevron-card__description">2<br/><br/>Latest Update: 12/02/2023</p>
                  </div>
                </li>     
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <p class="header"><strong><a class="govuk-link chevron-card__link" href="/cin-plans.html">Child in Need plans</a></strong></p>
                
                    <p class="govuk-body chevron-card__description">4<br/><br/>Latest Update: 03/05/2022</p>
                  </div>
                </li> 
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <p class="header"><strong><a class="govuk-link chevron-card__link" href="/child-looked-after-landing.html">Child Looked After</a></strong></p>
                
                    <p class="govuk-body chevron-card__description">2<br/><br/>Latest Update: 14/02/2023</p>
                  </div>
                </li> 
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <p class="header"><strong><a class="govuk-link chevron-card__link" href="/cp-section47.html">Section 47</a></strong></p>
                
                    <p class="govuk-body chevron-card__description">2<br/><br/>Latest Update: 06/05/2022</p>
                  </div>
                </li> 
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <p class="header"><strong><a class="govuk-link chevron-card__link" href="/cp-current-repeat-plans.html">Child Protection Plans</a></strong></p>
                
                    <p class="govuk-body chevron-card__description">2<br/><br/>Latest Update: 03/05/2023</p>
                  </div>
                </li> 
              </ul>
            </div>
          </div>
        </main>
      </div>
      
    </div>
  </div>

{% endblock %}
