
{% extends "layout.html" %}

{% block pageTitle %}
  Special Educational Needs – Children's Social Care
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Special Educational Needs
        <span class="govuk-caption-m">For more information, please visit <a href="https://www.gov.uk">www.gov.uk</a></span>
      </h1>
      
      <h2>Referrals</h2>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!--tabs-->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#by-timescale">
              By timescale
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#by-source">
              By source
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#re-referral">
              Re-referral 
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#no-further-action">
              No further action
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#compare">
              Compare
            </a>
          </li>
        </ul>
        <!--inside tabs-->
        <div class="govuk-tabs__panel" id="by-timescale">
          
          
        </div>
        <div class="govuk-tabs__panel" id="by-source">
          
          
        </div>
        <div class="govuk-tabs__panel" id="re-referral">
          
          
        </div>
        <div class="govuk-tabs__panel" id="no-further-action">
          
          
        </div>
        <div class="govuk-tabs__panel" id="compare">
          
          
        </div>
        
    
      </div>

    </div>
  </div>

{% endblock %}
